#-----------------------------------------------------------------
#General Configurations
#-----------------------------------------------------------------

default_config:

homeassistant:
  name: Home
  latitude: !secret home_lat
  longitude: !secret home_long
  elevation: 365
  unit_system: us_customary
  time_zone: America/New_York
  currency: USD
  country: US
  customize: !include customize.yaml
  external_url: "https://homeassist.gregdelima.com"
  internal_url: "http://192.168.1.198:8123"

logger:
  default: warning
  # logs:
  #   custom_components.kia_uvo: debug
  #   hyundai_kia_connect_api: debug
#-----------------------------------------------------------------
#System Health
#-----------------------------------------------------------------

#https://www.home-assistant.io/components/system_health/
system_health:

http:
  use_x_forwarded_for: true
  trusted_proxies: !secret proxies
  # ip_ban_enabled: true
  # login_attempts_threshold: 5
  cors_allowed_origins: !secret cors_origins

#-----------------------------------------------------------------
#Dashboards/Layouts/FrontEnd
#-----------------------------------------------------------------

lovelace:
  mode: yaml
  resources: !include resources.yaml
  dashboards:
    custom-config:
      mode: yaml
      filename: layouts/lovelace/ui-lovelace.yaml
      title: Dashboard
      show_in_sidebar: true
    testing-zone:
      mode: yaml
      filename: layouts/lovelacetesting/lovelace-testing.yaml
      title: Testing
      show_in_sidebar: true
      require_admin: true
    mobile-layout:
      mode: yaml
      filename: layouts/mobile-layout/mobile-layout.yaml
      title: Mobile
      show_in_sidebar: true
      require_admin: true
    gemini-layout:
      mode: yaml
      title: Gemini
      icon: mdi:flower-tulip
      show_in_sidebar: true
      filename: layouts/gemini-layout/ui-lovelace.yaml

frontend:
  themes: !include_dir_merge_named themes

browser_mod:
  prefix: "browser_"

# panel_iframe:
#   zwave:
#     title: "Z-Wave Config"
#     url: !secret zwave_url
#     icon: mdi:z-wave


#-----------------------------------------------------------------
#Directory inclusions for config segments
#https://www.home-assistant.io/docs/configuration/splitting_configuration/
#-----------------------------------------------------------------

group: !include groups.yaml
script: !include scripts.yaml
sensor: !include_dir_merge_list sensors/
recorder: !include recorder.yaml
automation manual: !include_dir_merge_list automations/  #Custom manual Automations
automation ui: !include automations.yaml # Automations created by UI
#binary_sensor: !include_dir_merge_list binarysensors/
switch: !include_dir_merge_list switches/
template:
  - binary_sensor: !include_dir_merge_list template/binarysensors/
  - sensor: !include_dir_merge_list template/sensors/
input_boolean:
scene: !include_dir_merge_list scenes/
#-----------------------------------------------------------------
#Weather
#-----------------------------------------------------------------
weather:
sun:

#discovery:

wemo:
  discovery: false
  static:
    #- 192.168.1.122  #Living Room - Deprecated
    - 192.168.1.121  #Office

#-----------------------------------------------------------------
#Zones
#-----------------------------------------------------------------

zone:
  - name: Greg Work
    latitude: !secret gwork_lat
    longitude: !secret gwork_long
    radius: 300
    icon: mdi:breifcase


#-----------------------------------------------------------------
#Smart home assistants (Echo/Google)
#-----------------------------------------------------------------

alexa:
  smart_home:
    filter:
      exclude_domains:
        - sensor
        - automation
        - binary_sensor
        - media_player
        - device_tracker
api:

conversation:

google_assistant:
  project_id: !secret google_assist_project
  service_account: !include SERVICE_ACCOUNT.JSON
  report_state: true
  exposed_domains:
    - switch
    - light
    - group
    - vacuum
    - climate


#-----------------------------------------------------------------
#Devices
#-----------------------------------------------------------------
# device_tracker:
#   - platform: ping
#     hosts:
#       sara_router: 192.168.1.185
#       greg_router: 192.168.1.131
#       scan_interval: 60
#     consider_home: 600

#-----------------------------------------------------------------
#Notifiers
#-----------------------------------------------------------------
telegram_bot:
  - platform: polling
    api_key: !secret telegram
    allowed_chat_ids:
      - !secret greg_chatid
      - !secret sara_chatid
notify:
  - name: telegram_notify_Greg
    platform: telegram
    chat_id: !secret greg_chatid
  - name: telegram_notify_Sara
    platform: telegram
    chat_id: !secret sara_chatid

#-----------------------------------------------------------------
#Scripts & Custom Configs
#-----------------------------------------------------------------
#Wake on LAN
wake_on_lan:
shell_command: !include shell_command.yaml


adaptive_lighting:
  lights:
    - light.living_room_color_light
    - light.bookshelf_color_light
  take_over_control: false

waste_collection_schedule:
  sources:
    - name: ics
      args:
        split_at: '\, (?:and )?|(?: and )'
        url: https://recollect.a.ssl.fastly.net/api/places/C2F11EB2-78CC-11E8-A433-F358DF3039AC/services/665/events.en-US.ics

command_line: !include_dir_merge_list command_line/
