version: '3.8'

networks:
  ha_net:
    driver: bridge

services:
  homeassistant:
    container_name: 'home-assistant'
    image: homeassistant/home-assistant:stable
    networks:
      - ha_net
    volumes:
      - /docker/homeassistant:/config
    devices:
      - /dev/ttyUSB1:/dev/ttyUSB1 # Zigbee
    env_file: /docker/docker_envs.env
    ports:
      - 8123:8123 
    restart: unless-stopped
    depends_on: 
      - zwaveJS
      - go2rtc
    labels:
      - "diun.enable=true"

  zwaveJS:
    container_name: zwave_js
    image: zwavejs/zwavejs2mqtt:latest
    networks:
      - ha_net
    volumes: 
      - ./store:/usr/src/app/store
    devices:
      - /dev/ttyUSB0
    tty: true
    ports:
      - 8091:8091
      - 3030:3030
    env_file: /docker/docker_envs.env
    restart: unless-stopped
    labels:
      - "diun.enable=true"

  go2rtc:
    container_name: go2rtc
    image: alexxit/go2rtc
    networks:
      - ha_net
    restart: unless-stopped
    environment:
      - TZ=America/New_York
    ports:
      - "1984:1984"  # you can change the external port if needed
    volumes:
      - "/docker/homeassistant/got2rtc/:/config"
      - /docker/homeassistant/.storage/core.config_entries:/config/.storage/core.config_entries
    labels:
      - "diun.enable=true"
